<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Le's HW9B - Ex 1 </title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1><a href="/">Link to Start Page</a></h1>
  <h2>Le's Sample Form</h2>
  <form>
    <p>
      <label for="name">Name</label>:
      <input type="text" name="name" id="name" required>
    </p>
    <p>
      <label for="email">Email</label>:
      <input type="email" name="email" id="email" required placeholder="name@domain">
    </p>
    <p>
      Payment Type: <br>
      <input type="radio" name="payment" id="cash" value="cash">
      <label for="cash">Cash</label>
      <br>
      <input type="radio" name="payment" id="cc" value="cc">
      <label for="cc">Credit Card</label>
      <br>
      <input type="radio" name="payment" id="gpay" value="gpay">
      <label for="gpay">Google Pay</label>
      <br>
      <input type="radio" name="payment" id="apay" value="apay">
      <label for="apay">Apple Pay</label>
    </p>
    <p>
      <input type="checkbox" name="promo" id="promo" value="promo">
      <label for="promo">Sign me up for special promotions</label>
    </p>
    <p>
      <label for="location">Preferred Location</label>:
      <select name="location" id="location">
          <option value="la" selected>Los Angeles</option>
          <option value="oc">Orange County</option>
          <option value="rs">Riverside</option>
          <option value="sd">San Diego</option>
      </select>
    </p>
    <input type="submit" value="Submit">
    <input type="reset" value="Cancel">
  </form>

  <div id="output"></div>
  <script src="/ex1.js"></script>
</body>
</html>