<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Le's HW9B Assignment</title>
  <link rel = "stylesheet" href="/styles.css"> 
</head>
<body>
  <h1>Le's Web Assignment Solution</h1>
  <h2>Links</h2>
  <a href="/ex1">Exercise 1 - Order - Process a Form</a> </br>
  <a href="/ex2">Exercise 2 - Send JSON to API</a> </br>
  <a href="/ex3">Exercise 3 - Articles - Process a Form</a>
  
</body>
</html>


